{% include "includes/base.html" %}


<section class="section-intro padding-y-sm">
<div class="container-fluid">

<div class="intro-banner-wrap">
  <img src="/static/images/banners/banner1.jpg" class="img-fluid rounded">
</div>

</div> 
</section>

<section class="section-content padding-y-sm">
<div class="container">
<article class="card card-body">

  <div class="row">
  <div class="col-md-3">
    <figure class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-motorcycle"></i></span>
      <figcaption class="pt-3">
        <h5 class="title">Entrega Rápida</h5>
        <p>Entrega em 4 a 9 dias úteis desde R$0,0 </p>
      </figcaption>
    </figure> 
  </div>
  <div class="col-md-3">
    <figure  class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
      <figcaption class="pt-3">
        <h5 class="title">Frete grátis</h5>
        <p>Entrega grátis a partir de R$ 50,00
         </p>
      </figcaption>
    </figure>
  </div>
    <div class="col-md-3">
      <figure  class="item-feature">
        <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
        <figcaption class="pt-3">
          <h5 class="title">Segurança em comprar </h5>
          <p>Compra 100% segura
           </p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure  class="item-feature">
        <span class="text-primary"><i class="fa fa-2x fa-shopping-cart"></i></span>
        <figcaption class="pt-3">
          <h5 class="title">Suas compras</h5>
          <p>em até 3x sem juros
           </p>
        </figcaption>
      </figure>
    </div>
</div>
</article>

</div> 
</section>

<!-- ======================================================Mini banners================================================= -->
<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col-md-4 minis d-flex justify-content-center">
      <img class="img_mini" alt="Bootstrap Image Preview" src="/static/images/banners/miniBanner/pc.png" />
    </div>
    <div class="col-md-4 minis d-flex justify-content-center">
      <img class="img_mini" alt="Bootstrap Image Preview" src="/static/images/banners/miniBanner/cadeira.png" />
    </div>
    <div class="col-md-4 minis d-flex justify-content-center">
      <img class="img_mini" alt="Bootstrap Image Preview" src="/static/images/banners/miniBanner/teclado.png" />
    </div>
  </div>
</div>

<!-- ===========================================================fim mini================================================= -->


<section class="section-content">
<div class="container">

<header class="section-heading">
  <h3 class="section-title">Lançamentos</h3>
</header>

  
<div class="row">
  <div class="col-md-3">
    <div href="/produtos/brinquedos/3" class="card card-product-grid">
      <a href="/produtos/brinquedos/3" class="img-wrap"> <img src="/static/images/items/1.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="/produtos/brinquedos/3" class="title">Snake Cat Teaser, Smart Sensing, Brinquedos Interativos, Indoor Play, Kitten Toy, USB Recarregável</a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 40 avaliações</span>
        </div>
        <div class="price mt-1">R$28,50</div>
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="/produtos/brinquedos/4" class="card card-product-grid">
      <a href="/produtos/brinquedos/4" class="img-wrap"> <img src="/static/images/items/14.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="/produtos/brinquedos/4" class="title">Dupla Utilização Túnel Jogo Interativo Brinquedo, Donut Cat Bed, Indoor Kitten Equipamentos Esportivos, Cat House, Pet Training
        </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 32 avaliações</span>
        </div>
        <div class="price mt-1">R$68,99</div>
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="/produtos/brinquedos/5" class="card card-product-grid">
      <a href="/produtos/brinquedos/5" class="img-wrap"> <img src="/static/images/items/5.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="/produtos/brinquedos/5" class="title">Fun Bowl Feeding Toys for Pets, Dog Tumbler Feeder, Puppy and Kitten, Shaking Leakage, Food Ball Container, Exercício
        </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 15 avaliações</span>
        </div>
        <div class="price mt-1">R$35,89</div>
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="/produtos/brinquedos/6" class="card card-product-grid">
      <a href="/produtos/brinquedos/6" class="img-wrap"> <img src="/static/images/items/17.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="/produtos/brinquedos/6" class="title">Tratar interativo vazamento brinquedo para gatos e cães pequenos, alimentador lento, dispensador, cachorro, engraçado, rotativo, roda, QI, gatinho, acessórios </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 28 avaliações</span>
        </div>
        <div class="price mt-1">R$9,80</div>
      </figcaption>
    </div>
  </div> 
</div> 

</div> 
</section>

<section class="section-content">
<div class="container">

<header class="section-heading">
  <h3 class="section-title">Promoções</h3>
</header>

<div class="row">
  <div class="col-md-3">
    <div href="/produtos/cuidados/0" class="card card-product-grid">
      <a href="/produtos/cuidados/0" class="img-wrap"> <img src="/static/images/items/10.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="/produtos/cuidados/0" class="title">Multifuncional Cat Climbing Frame Toy Deluxe arranhando post, plataforma de salto, casa na árvore, multi-camada </a>

        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active">
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
          </ul>
          <span class="label-rating text-muted"> 25 avaliações</span>
        </div>
        <div class="price mt-1">R$470,99</div>
      </figcaption>
    </div>
  </div>
  <div class="col-md-3">
    <div href="#" onclick="exibirAlertaEsgotado()" class="card card-product-grid">
      <a href="#" onclick="exibirAlertaEsgotado()" class="img-wrap"> <img src="/static/images/items/9.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="#" onclick="exibirAlertaEsgotado()" class="title">Alimento molhado enlatado personalizado, petiscos do gato, alimento nutritivo do gato, venda por atacado, 15g
        </a>

        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active">
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
          </ul>
          <span class="label-rating text-muted"> 6 avaliações</span>
        </div>
        <div class="price mt-1">R$19,39</div>
      </figcaption>
    </div>
  </div>
  <div class="col-md-3">
    <div href="/produtos/cuidados/1" class="card card-product-grid">
      <a href="/produtos/cuidados/1" class="img-wrap"> <img src="/static/images/items/13.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="/produtos/cuidados/1" class="title">Biscoito de Menta lanche para gato adulto recompensa, Molar nutrição, engorda gatinho</a>

        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active">
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
          </ul>
          <span class="label-rating text-muted"> 81 avaliações</span>
        </div>
        <div class="price mt-1">R$80,10</div>
      </figcaption>
    </div>
  </div>
  <div class="col-md-3">
    <div href="/produtos/cuidados/2" class="card card-product-grid">
      <a href="/produtos/cuidados/2" class="img-wrap"> <img src="/static/images/items/7.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="/produtos/cuidados/2" class="title">Totalmente fechado Pet Litter Box, Desodorante Derramamento, WC Cat, Two-Way Pá, grande capacidade fechado Sandbox</a>

        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active">
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
          </ul>
          <span class="label-rating text-muted"> 33 avaliações</span>
        </div>
        <div class="price mt-1">R$90,90</div>
      </figcaption>
    </div>
  </div>
</div>

</div> 
</section>

<section class="section-content padding-bottom-sm">
<div class="container">

<header class="section-heading">
 
  <h3 class="section-title">Mais Vendidos</h3>
</header>

<div class="row">
  <div class="col-md-3">
    <div href="#" onclick="exibirAlertaEsgotado()" class="card card-product-grid">
      <a href="#" onclick="exibirAlertaEsgotado()" class="img-wrap"> <img src="/static/images/items/15.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Brinquedos de bola de gato elétrico, rolamento automático, inteligente, interativo para treinamento de gatos, gatinho auto-movente, jogo indoor</a>
        <div class="price mt-1">R$9,99</div>
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" onclick="exibirAlertaEsgotado()" class="card card-product-grid">
      <a href="#" onclick="exibirAlertaEsgotado()" class="img-wrap"> <img src="/static/images/items/18.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Brinquedo dobrável para gato, interior e exterior, tubo de estimação, gatinho, filhote, puzzle, exercício, escondendo treinamento</a>
        <div class="price mt-1">R$12,00</div>
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" onclick="exibirAlertaEsgotado()" class="card card-product-grid">
      <a href="#" onclick="exibirAlertaEsgotado()" class="img-wrap"> <img src="/static/images/items/21.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">25cm tamanho pequeno animal macio dos desenhos animados travesseiro gato brinquedo de pelúcia </a>
        <div class="price mt-1">R$25,80</div>
      </figcaption>
    </div>
  </div>
  <div class="col-md-3">
    <div href="#" onclick="exibirAlertaEsgotado()" class="card card-product-grid">
      <a href="#" onclick="exibirAlertaEsgotado()" class="img-wrap"> <img src="/static/images/items/19.jpg"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">12cm Cartoon Cute Shark Fried Shrimp Cat Plush Doll Pendant Charm Package Pendant</a>
        <div class="price mt-1">R$9,99</div>
      </figcaption>
    </div>
  </div> 
</div> 

</div> 
</section>

<div class="intro-banner-wrap">
  <img src="/static/images/banners/bannerFaixa.jpg" class="img-fluid rounded">
</div>

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
  <div class="container">
    <section class="footer-top  padding-y">
      <div class="row">
        <aside class="col-md col-6">
          <h6 class="title">Marcas</h6>
          <ul class="list-unstyled">
            <li> <a href="https://www.royalcanin.com/br">Royal Canin Exigent</a></li>
            <li> <a href="https://www.farmina.com/br">Farmina N&D</a></li>
            <li> <a href="https://premierpet.com.br/">Premier Pet Golden</a></li>
            <li> <a href="https://purina.com.br/">Purina ProPlan</a></li>
            <li> <a href="https://www.whiskas.com.br/">whiskas</a></li>
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Empresas</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Quem Somos</a></li>
            <li> <a href="#">Trabalhe conosco</a></li>
            <li> <a href="#">Políticas de Privacidade</a></li>
            <li> <a href="#">Troca e devoluções</a></li>
            
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Ajuda</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Contato</a></li>
            <li> <a href="#">Como Comprar</a></li>
            <li> <a href="#">Formas de Pagamentos</a></li>
            <li> <a href="#">Politicas de entrega</a></li>
            
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Conta</h6>
          <ul class="list-unstyled">
            <li> <a href="#"> Login </a></li>
            <li> <a href="#"> Cadastra-se </a></li>
            <li> <a href="#"> Configurações da Conta </a></li>
          </ul>
        </aside>
        <aside class="col-md">
          <h6 class="title">Redes Sociais</h6>
          <ul class="list-unstyled">
            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
          </ul>
        </aside>
      </div> 
    </section>  

    <section class="footer-bottom row">
      <div class="col-md-2">
        <p class="text-muted"> 2023 Cat HAPPY </p>
      </div>
      <div class="col-md-8 text-md-center">
        <span  class="px-2">contato@cathappy.com.br</span>
        <span  class="px-2">(16) 9 9999-1111</span>
        <span  class="px-2">CatHappy</span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div>
</footer>
<script>
    function exibirAlertaEsgotado() {
        // Exibe um alerta simples
        alert('Produto esgotado!!!');
    }
</script>

</body>
</html>